
@model List <Ejemplo1App.Models.Peliculas>
@{
    ViewBag.Title = "MuestraPeliculas";
}

<h2>MuestraPeliculas</h2>

<html>
    <head>
    <title>N</title>
    <head>
        <body>
            <div>
                <table class="table table-striped">
                    <thead >
                    <th>Titulo</th>
                    <th>Duracion</th>
                    <th>Pais</th>
                    <th>Publicacion</th>
                    </thead>
                    <tbody>
                        @foreach (var pelicula in Model)
                        {
                            <tr>
                                <td>@pelicula.Titulo</td>
                                <td>@pelicula.Duracion</td>
                                <td>@pelicula.Pais</td>
                                <td>@pelicula.Publicacion.ToString("dd/mm/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </body>
</html>